body {
  margin-top: 70px !important;
  overflow: scroll;
}

.loading {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  background-color: black;
  opacity: 0.7;
  z-index: 10000;
  margin: 0px;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.loading-indicator {
  width: 50px;
  height: 50px;
  background: url('../assets/loading.gif') no-repeat center;
  background-size: 50px 50px;
  top: 40%;
  position: absolute;
  left: 40%;
  width: 20%;
}

#container {
  padding: 0 20px 80px 20px;
}

.error-message {
  color: red;
}

.vertical-padding-s {
  margin-top: 15px;
  margin-bottom: 15px;
}

.fr {
  float: right;
}

.fl {
  float: left;
}

.bottom-left-button {
  float: left;
  min-width: 70px;
  padding: 0 15px;
  width: auto !important;
}

.bottom-right-button {
  float: right;
  min-width: 70px;
  padding: 0 15px;
  width: auto !important;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 50px;
  padding-top: 10px;
  background-color: #222;
  border-color: #080808;
}

.currency .input-group {
  border: 1px solid #ccc;
  border-radius: 3px;
}

.currency input,
.currency select,
.currency .input-group-addon {
  border: none;
}

.currency .input-group-addon {
  border-right: 1px solid #ccc;
}

.transaction-item {
  height: 40px;
  line-height: 40px;
}

.transactions-history {
  top: 50px;
  position: fixed;
  bottom: 50px;
  left: 0;
  right: 0;
  overflow: scroll;
}

.table tr:nth-child(odd){
   background-color: #eee;
}

.transactions-list-load-more {
  text-align: center;
  height: 40px;
}
